<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <title>{% block title %}{% endblock %} - Fin</title>
    
    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  
  {% endblock %}
</head>
<body>
  {% include '_menu.html' %}
  
  <div class="container mt-2 mb-5">
    {% block header %}
      {% include '_breadcrumb.html' %}
      {% include '_messages.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
  
    {% block footer %}
      {% include 'footer.html' %}  
    {% endblock %}

  </div>
  
  {% include '_cookies.html' %}
  
  {% block script %}
    {{bootstrap.load_js()}}
    <script src="{{url_for('static', filename='js/switch.js')}}"></script>
  {% endblock %}
</body>
</html>